@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
.Edit{
  padding: 10px;
  margin: 50px auto;
  width: 90%;
  max-width: 1000px;
  font-family: "Rubik", sans-serif;
  background-color: #ffffffd3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}
.inputText {
    width: 70%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
.Edit button {
    width: 70%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
.Edit button:hover {
    background-color: #45a049;
  }
  
.Header{
    text-align: center;
    font-size: 40px;
}